---
import { SITE } from "../consts";
import CommonLayout from "../layouts/CommonLayout.astro";
import IconChevron from "../icons/Chevron.astro";

const features = [
  {
    emoji: "☄️",
    class: "major",
    title: "Effector Spacewatch",
    description:
      "Experience the power of effector v23.0, featuring refined typings, universal hooks support.",
  },
  {
    emoji: "🛡️",
    title: "Type safe",
    description:
      "Excellent TypeScript support out of the box. With the type testing in the repository.",
  },
  {
    emoji: "⚙️",
    title: "Framework agnostic",
    description: "Works with any UI or server framework. Tested with React, Solid, Vue.",
  },
  {
    emoji: "⚡️",
    title: "Performant",
    description:
      "Initialization of the whole logic at the app start provides a boost at the runtime.",
  },
  {
    emoji: "📦",
    title: "10Kb",
    description:
      "Effector supports tree-shaking and provides maximum opportunities with the small size.",
  },
  {
    emoji: "🫂",
    title: "Just JavaScript",
    description:
      "There is no Proxies, classes and some magic inside. Just JavaScript code that works.",
  },
  {
    emoji: "🧑‍💻",
    class: "minor",
    title: "Developer-friendly",
    description:
      "Simple API surface with helpful community. Core-team reduces amount of methods to lear.",
  },
];

const logos = [
  "/logo/docsvision.png",
  "/logo/automationhero.svg",
  "/logo/aviasales.png",
  "/logo/avito.svg",
  "/logo/codengage.png",
  "/logo/express24.svg",
  "/logo/foxford.svg",
  "/logo/globalCtoForum.png",
  "/logo/healthSamurai.svg",
  "/logo/intouchHealth.png",
  "/logo/joom.svg",
  "/logo/junto.png",
  "/logo/lunatask.png",
  "/logo/mts.svg",
  "/logo/okoo.png",
  "/logo/radity.png",
  "/logo/raiffeisen.svg",
  "/logo/redmadrobot.png",
  "/logo/sber.png",
  "/logo/semrush.png",
  "/logo/smartomato.svg",
  "/logo/space307.svg",
  "/logo/stellarX.svg",
  "/logo/stmLabs.png",
  "/logo/tenpixls.png",
  "/logo/travelpayouts.svg",
  "/logo/unicef.svg",
  "/logo/uptarget.png",
];
---

<CommonLayout lang={SITE.defaultLanguage} title="Welcome" dir="ltr" description={SITE.description}>
  <div class="landing">
    <section class="hero">
      <div class="title">effector</div>
      <div class="subtitle">Write business logic with ease</div>
      <p class="description">
        Meet the new standard for modern TypeScript development.
        <br />
        Type safe, reactive, framework agnostic.
      </p>
      <div class="links">
        <a class="primary" href="/en/introduction/installation">
          <span>Getting started</span>
          <IconChevron />
        </a>
      </div>
    </section>

    <section class="features">
      <div class="wrapper">
        {
          features.map((feat) => (
            <article class={feat.class}>
              <div class="emoji">{feat.emoji}</div>
              <div class="title">{feat.title}</div>
              <p>{feat.description}</p>
            </article>
          ))
        }
      </div>
    </section>
    <section class="using">
      <div class="sliding"></div>
      <div class="sliding"></div>
    </section>
  </div>
</CommonLayout>

<style>
  body {
    --header-max-width: 100rem;
  }

  .landing {
    margin-top: var(--theme-navbar-height);
  }

  .hero {
    @apply mx-5 mt-12 mb-20 flex flex-col justify-center gap-6;
  }

  .hero .title {
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
    color: unset;
    letter-spacing: -0.02em;
    background: linear-gradient(to right bottom, var(--theme-text-light) 30%, var(--theme-text));
    -webkit-background-clip: text;
    font-family: "Lexend Deca";

    @apply m-0 max-w-full p-0 text-center text-5xl font-bold;
    line-height: 1;
  }

  .hero .subtitle {
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
    color: unset;
    letter-spacing: -0.02em;
    background: linear-gradient(to right bottom, var(--theme-text-light) 30%, var(--theme-text));
    -webkit-background-clip: text;
    font-family: "Lexend Deca";

    @apply m-0 p-0 text-center text-2xl font-medium;
    line-height: 1.3;
  }

  .hero .description {
    @apply text-center text-base;
  }

  .hero .links {
    @apply flex justify-center;
  }

  .hero a.primary {
    background: linear-gradient(170deg, hsl(var(--color-primary-70)), hsl(var(--color-primary-50)));
    color: var(--theme-bg);
    text-shadow: var(--theme-text-accent) 0px 1px 0px;

    @apply flex rounded-3xl py-2 pl-6 pr-4 text-base transition-shadow hover:shadow-md;
  }

  /* Some shit happens with tailwind, and order of md/lg rules is changed */
  @media (min-width: 768px) {
    .hero .title {
      @apply text-6xl;
    }

    .hero .subtitle {
      @apply text-4xl;
      line-height: 1.5;
    }

    .hero .description {
      @apply text-lg;
    }

    .hero a.primary {
      @apply text-lg;
    }
  }

  @media (min-width: 1024px) {
    .hero {
      @apply mt-24 mb-32;
    }

    .hero .title {
      @apply text-8xl;
    }

    .hero .subtitle {
      @apply text-5xl;
      line-height: 1.5;
    }

    .hero .description {
      @apply text-xl;
    }
  }

  /* ==== FEATURES ==== */

  .features {
  }

  .features .wrapper {
    @apply mx-auto grid min-h-[680px] w-full max-w-6xl grid-cols-2 gap-3 p-3 sm:gap-6 sm:p-6 md:grid-cols-3 md:grid-rows-3;
  }

  .features article {
    @apply z-10 flex flex-col gap-3 rounded-2xl p-3 text-center shadow-lg transition-shadow duration-500 hover:shadow-xl sm:gap-4 sm:rounded-3xl sm:p-4;
    background-color: var(--theme-card);
  }

  .features article .emoji {
    @apply flex h-16 w-16 items-center justify-center self-center text-4xl;
  }

  .features article .title {
    @apply text-xl sm:text-2xl;
  }

  .features article p {
    @apply text-sm sm:text-base;
    color: var(--theme-text);
  }

  .features article.major {
    @apply row-span-2;
    /* background-image: linear-gradient(var(--theme-text-accent), var(--theme-bg)); */
    background-image: radial-gradient(
      circle at 50% 30%,
      hsla(var(--color-primary-50), 0.4),
      hsla(var(--color-primary-80), 0.3) 25%,
      var(--theme-bg) 90%
    );
  }
  .features article.major .emoji {
    @apply h-[50%] w-full text-8xl md:h-[60%];
  }
  .features article.major .title {
    @apply text-2xl md:text-3xl;
  }

  .features article.minor {
    @apply md:col-span-2;
  }
  .features article.minor p {
    @apply mx-auto max-w-[50ch];
  }
</style>
