---
import { createLink, getPathParamsFromId, getTextLocalized, translations } from "../../languages";
import { KNOWN_LANGUAGES, SITE } from "../../consts";
import { DESKTOP_NAVIGATION, SOCIAL_LINKS, DOCS_VERSIONS } from "../../navigation";

import SkipToContent from "./SkipToContent.astro";
import EffectorLogo from "./EffectorLogo.astro";
import Search from "./Search";
import DropDownMenu from "../DropDownMenu.astro";
import ThemeToggle from "./ThemeToggleButton";
import MobileMenuButton from "./MobileMenuButton.astro";

import IconExternal from "./icons/External.astro";
import IconLanguage from "./icons/Language.astro";
import IconDots from "./icons/Dots.astro";

import IconGithub from "./icons/Github.astro";
import IconTwitter from "./icons/Twitter.astro";
import IconDiscord from "./icons/Discord.astro";
import IconYoutube from "./icons/Youtube.astro";

const socialIcons = {
  github: IconGithub,
  twitter: IconTwitter,
  discord: IconDiscord,
  youtube: IconYoutube,
};

type Props = {
  currentPage: string;
};

const { lang, slug } = getPathParamsFromId(Astro.url.pathname);
const languageLinks = Object.entries(KNOWN_LANGUAGES).map(([name, code]) => ({
  text: { en: name },
  link: slug === "/" ? `/${code}` : `/${code}/${slug}`,
}));
const homeLink = lang === "en" ? "/" : `/${lang}`;
---

<header>
  <SkipToContent />

  <nav>
    <a class="logo" href={homeLink}>
      <EffectorLogo size={40} />
      <span>{SITE.title ?? getTextLocalized(translations.Documentation, lang)}</span>
    </a>
    <div class="mr-auto">
      <Search client:idle />
    </div>
    {
      DESKTOP_NAVIGATION.map((navLink) => {
        const external = navLink.link.startsWith("https://") || navLink.link.startsWith("http://");
        const href = external ? navLink.link : createLink(navLink, lang);
        const text = getTextLocalized(navLink, lang);

        if (external) {
          return (
            <a href={href} target="_blank" class="link only-medium">
              <span>{text}</span>
              <IconExternal />
            </a>
          );
        }

        return (
          <div class="hidden md:flex">
            <a href={href} class="link">
              {text}
            </a>
          </div>
        );
      })
    }
    <div class="only-medium">
      <DropDownMenu links={DOCS_VERSIONS}>v22.x</DropDownMenu>
    </div>
    <div class="only-medium">
      <DropDownMenu links={languageLinks}>
        <IconLanguage />
      </DropDownMenu>
    </div>
    <ThemeToggle client:idle />
    {
      SOCIAL_LINKS.map((link) => {
        const Icon = socialIcons[link.icon];
        return (
          <a href={link.link} class="link only-medium" target="_blank">
            <Icon />
          </a>
        );
      })
    }
    <div class="hidden md:inline-block xl:hidden">
      <DropDownMenu
        links={[
          ...DESKTOP_NAVIGATION.filter(
            (navLink) => navLink.link.startsWith("https://") || navLink.link.startsWith("http://"),
          ),
          {
            text: { en: "Language", ru: "Язык документации" },
            links: languageLinks,
          },
          {
            text: { en: "Other versions", ru: "Другие версии" },
            links: DOCS_VERSIONS,
          },
          {
            text: { en: "Social", ru: "Социальные сети" },
            links: SOCIAL_LINKS,
          },
        ]}
      >
        <IconDots />
      </DropDownMenu>
    </div>
    <div class="md:hidden">
      <MobileMenuButton />
    </div>
  </nav>
</header>

<style>
  header {
    @apply fixed top-0 left-0 right-0 flex w-full items-center justify-center overflow-visible shadow;

    z-index: 110;
    height: var(--theme-navbar-height);

    -webkit-backdrop-filter: saturate(50%) blur(12px);
    backdrop-filter: saturate(50%) blur(12px);
    background-color: var(--theme-navbar-bg);
    font-family: "Lexend Deca", sans-serif;
  }

  nav {
    @apply mx-auto flex items-center justify-end gap-2;

    padding-left: max(env(safe-area-inset-left), 1.5rem);
    padding-right: max(env(safe-area-inset-right), 1.5rem);
    /* max-width: 84rem; */
    width: 100%;
    max-width: var(--header-max-width, 84rem);
    height: var(--theme-navbar-height);
  }

  .logo {
    @apply flex items-center hover:opacity-75 focus:no-underline;
    transition: opacity 100ms ease-out;
  }

  .logo span {
    @apply mx-2 select-none text-2xl font-extrabold;
    color: var(--theme-text);
  }

  @media (max-width: 512px) {
    .logo span {
      display: none;
    }
  }

  nav {
    @apply flex gap-4 text-base font-normal;
    font-stretch: normal;
    font-optical-sizing: auto;
  }

  nav .link {
    @apply flex items-center justify-center gap-1 text-base font-normal;
    color: var(--theme-text);
  }
  nav .link:hover,
  nav .link:focus,
  nav .link.active {
    color: var(--theme-accent);
  }
  nav .link.active:hover,
  nav .link.active:focus {
    color: var(--theme-text-accent);
  }

  .link.only-medium,
  .only-medium {
    @apply hidden xl:flex;
  }
</style>
