---
import {
  getPathParamsFromId,
  getTextLocalized,
  KNOWN_LANGUAGE_CODES,
  translations,
} from "../../languages";
import { KNOWN_LANGUAGES, SITE, COMMUNITY_INVITE_URL } from "../../consts";

import SkipToContent from "./SkipToContent.astro";
import EffectorLogo from "./EffectorLogo.astro";
import Search from "./Search";
import NavMenu from "../NavMenu.astro";
import ThemeToggle from "./ThemeToggleButton";

type Props = {
  currentPage: string;
};

const { lang, slug } = getPathParamsFromId(Astro.url.pathname);
const languageLinks = Object.entries(KNOWN_LANGUAGES).map(([name, code]) => ({
  text: { en: name },
  href: slug === "/" ? `/${code}` : `/${code}/${slug}`,
}));
const homeLink = lang === "en" ? "/" : `/${lang}`;

const docsVersions = [
  { text: { en: "beta (current)" }, href: "/" },
  { text: { en: "v22.x (actual)" }, href: "https://effector.dev" },
  { text: { en: "v21.x" }, href: "https://v21.effector.dev" },
  { text: { en: "v20.x" }, href: "https://v20.effector.dev" },
];
---

<header>
  <SkipToContent />

  <nav>
    <a class="logo" href={homeLink}>
      <EffectorLogo size={40} />
      <span>{SITE.title ?? getTextLocalized(translations.Documentation, lang)}</span>
    </a>
    <div class="mr-auto">
      <Search client:idle />
    </div>
    <div class="link">Getting started</div>
    <div class="link active">
      <span>API</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-chevron-down"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </div>
    <a href="https://patreon.com/zero__bias" target="_blank" class="link only-medium">
      <span>Blog</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="17" y1="7" x2="7" y2="17"></line>
        <polyline points="8 7 17 7 17 16"></polyline>
      </svg>
    </a>
    <a href="https://share.effector.dev" target="_blank" class="link"> Playground</a>
    <a href="https://changelog.effector.dev" target="_blank" class="link only-medium">
      <span>Changelog</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="17" y1="7" x2="7" y2="17"></line>
        <polyline points="8 7 17 7 17 16"></polyline>
      </svg>
    </a>
    <div class="only-medium">
      <NavMenu links={docsVersions}>v22.x</NavMenu>
    </div>
    <div class="only-medium">
      <NavMenu links={languageLinks}>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 5h7"></path>
          <path d="M9 3v2c0 4.418 -2.239 8 -5 8"></path>
          <path d="M5 9c-.003 2.144 2.952 3.908 6.7 4"></path>
          <path d="M12 20l4 -9l4 9"></path>
          <path d="M19.1 18h-6.2"></path>
        </svg>
      </NavMenu>
    </div>
    <ThemeToggle client:idle />
    <svg
      class="only-medium"
      role="img"
      width="20"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>GitHub</title>
      <path
        fill="currentColor"
        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
      ></path>
    </svg>
    <svg
      class="only-medium"
      role="img"
      width="20"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>Twitter</title>
      <path
        fill="currentColor"
        d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
      ></path>
    </svg>
    <svg
      class="only-medium"
      role="img"
      width="20"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>Discord</title>
      <path
        fill="currentColor"
        d="M20.317 4.3698a19.7913 19.7913 0 00-4.8851-1.5152.0741.0741 0 00-.0785.0371c-.211.3753-.4447.8648-.6083 1.2495-1.8447-.2762-3.68-.2762-5.4868 0-.1636-.3933-.4058-.8742-.6177-1.2495a.077.077 0 00-.0785-.037 19.7363 19.7363 0 00-4.8852 1.515.0699.0699 0 00-.0321.0277C.5334 9.0458-.319 13.5799.0992 18.0578a.0824.0824 0 00.0312.0561c2.0528 1.5076 4.0413 2.4228 5.9929 3.0294a.0777.0777 0 00.0842-.0276c.4616-.6304.8731-1.2952 1.226-1.9942a.076.076 0 00-.0416-.1057c-.6528-.2476-1.2743-.5495-1.8722-.8923a.077.077 0 01-.0076-.1277c.1258-.0943.2517-.1923.3718-.2914a.0743.0743 0 01.0776-.0105c3.9278 1.7933 8.18 1.7933 12.0614 0a.0739.0739 0 01.0785.0095c.1202.099.246.1981.3728.2924a.077.077 0 01-.0066.1276 12.2986 12.2986 0 01-1.873.8914.0766.0766 0 00-.0407.1067c.3604.698.7719 1.3628 1.225 1.9932a.076.076 0 00.0842.0286c1.961-.6067 3.9495-1.5219 6.0023-3.0294a.077.077 0 00.0313-.0552c.5004-5.177-.8382-9.6739-3.5485-13.6604a.061.061 0 00-.0312-.0286zM8.02 15.3312c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9555-2.4189 2.157-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.9555 2.4189-2.1569 2.4189zm7.9748 0c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9554-2.4189 2.1569-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.946 2.4189-2.1568 2.4189Z"
      ></path>
    </svg>
    <div class="hidden md:inline-block xl:hidden">
      <NavMenu
        links={[
          {
            text: { en: "Blog", ru: "Блог" },
            href: "https://www.patreon.com/zero_bias",
          },
          {
            text: { en: "Changelog", ru: "Список изменений" },
            href: "https://changelog.effector.dev/",
          },
          {
            text: { en: "Language", ru: "Язык документации" },
            links: languageLinks,
          },
          {
            text: { en: "Other versions", ru: "Другие версии" },
            links: docsVersions,
          },
          {
            text: { en: "Social", ru: "Социальные сети" },
            links: [
              { text: { en: "GitHub" }, href: "https://github.com/effector/effector" },
              { text: { en: "Twitter" }, href: "https://twitter.com/effectorjs" },
              { text: { en: "Discord" }, href: COMMUNITY_INVITE_URL },
            ],
          },
        ]}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="5" cy="12" r="1"></circle>
          <circle cx="12" cy="12" r="1"></circle>
          <circle cx="19" cy="12" r="1"></circle>
        </svg>
      </NavMenu>
    </div>
  </nav>
</header>

<style>
  header {
    @apply fixed top-0 left-0 right-0 flex w-full items-center justify-center overflow-visible shadow;

    z-index: 110;
    height: var(--theme-navbar-height);

    -webkit-backdrop-filter: saturate(50%) blur(12px);
    backdrop-filter: saturate(50%) blur(12px);
    background-color: var(--theme-navbar-bg);
    font-family: "Lexend Deca", sans-serif;
  }

  nav {
    @apply mx-auto flex items-center justify-end gap-2;

    padding-left: max(env(safe-area-inset-left), 1.5rem);
    padding-right: max(env(safe-area-inset-right), 1.5rem);
    /* max-width: 84rem; */
    width: 100%;
    max-width: var(--header-max-width, 84rem);
    height: var(--theme-navbar-height);
  }

  .logo {
    @apply flex items-center hover:opacity-75 focus:no-underline;
    transition: opacity 100ms ease-out;
  }

  .logo span {
    @apply mx-2 hidden select-none text-2xl font-extrabold md:inline;
    color: var(--theme-text);
  }

  nav {
    @apply flex gap-4 text-base font-normal;
    font-stretch: normal;
    font-optical-sizing: auto;
  }

  nav .link {
    @apply flex items-center justify-center text-base font-normal;
    color: var(--theme-text);
  }
  nav .link:hover,
  nav .link:focus,
  nav .link.active {
    color: var(--theme-accent);
  }
  nav .link.active:hover,
  nav .link.active:focus {
    color: var(--theme-text-accent);
  }

  nav a.link[href~="https://"]::after
  {
  }

  .link.only-medium,
  .only-medium {
    @apply hidden xl:flex;
  }

  @media (min-width: 1280px) {
    /* Fully expanded */
  }
</style>
