---
import IconChevron from "@icons/Chevron.astro";
import Hero from "@components/Landing/Hero.astro";
import FeaturesGrid from "@components/Landing/FeaturesGrid.astro";
import Feature from "@components/Landing/Feature.astro";
import Stats from "@components/Landing/Stats.astro";
import Companies from "@components/Landing/Companies.astro";

import Landing from "../layouts/Landing.astro";
import { SITE } from "../consts";

const features = [
  {
    emoji: "☄️",
    kind: "major",
    title: "Effector Spacewatch",
    description:
      "`Effector`ning v23.0 kuchidan bahramand bo'ling, yaxshilangan tipizatsiyasi va universal xuklar qollanilishi bilan.",
  },
  {
    emoji: "🛡️",
    title: "Xavfsiz tiplar",
    description:
      "Typescriptni qutisidan ajoyib qollanilishi. Repezitoriyda tiplar testlanishi bilan.",
  },
  {
    emoji: "⚙️",
    title: "Framework agnostic",
    description:
      "Har qanday UI yoki server freymvorklari bilan ishlay olishi. React, Solid, Vue bilan testlangan.",
  },
  {
    emoji: "⚡️",
    title: "Samarali",
    description:
      "Ishga tushganda barcha mantiqiy initsializatsiya ishga tushirishi dasturni tez ishlashiga yordam beradi.",
  },
  {
    emoji: "📦",
    title: "10Kb",
    description:
      "Tree-sharking ni qollaydigan kichik hajimdagi paket maksimal imkoniyatlarni taqdim etadi.",
  },
  {
    emoji: "🫂",
    title: "Oddiy JavaScript",
    description: "Bu yerda Proxy, klasslar yoki sehirlar yoq. JavaScript da ishlidigan oddiy kod.",
  },
  {
    emoji: "🧑‍💻",
    kind: "minor",
    title: "Do'stona jamiyat",
    description:
      "Do'stona jamiyat har doim javob berishga yordam beradi. Testlarni yozish oson. Server renderini osongina oshiring",
  },
] as { emoji: string; kind?: "minor" | "major"; title: string; description: string }[];
---

<Landing lang="uz" title="Ustunligi" dir="ltr" description={SITE.description}>
  <Hero subtitle="Biznes mantiqni oson yozing">
    Typescript yordamida yangi standartlarda zamonaviy dasturlashni boshlang.
    <br />
    Freymvorklardan mustaqil, reaktiv va xavfsiz
    <a slot="links" class="primary" href="/uz/introduction/installation">
      <span>O`rganishni boshlash</span>
      <IconChevron />
    </a>
  </Hero>
  <FeaturesGrid>
    {
      features.map((feat) => (
        <Feature title={feat.title} emoji={feat.emoji} kind={feat.kind}>
          {feat.description}
        </Feature>
      ))
    }
  </FeaturesGrid>
  <Stats />
  <Companies />
</Landing>
