---
import {
  createChangeLangLinks,
  createLink,
  getPathParamsFromId,
  getTextLocalized,
  translations,
} from "../../languages";
import { SITE } from "../../consts";
import { DESKTOP_NAVIGATION, SOCIAL_LINKS, DOCS_VERSIONS, QUICK_MENU } from "../../navigation";

import MobileNavigation from "../MobileNavigation.astro";
import DropDownMenu from "../DropDownMenu.astro";

import EffectorLogo from "./EffectorLogo.astro";
import MobileMenuButton from "./MobileMenuButton.astro";
import Search from "./Search.astro";
import SkipToContent from "./SkipToContent.astro";
import ThemeToggle from "./ThemeToggleButton";

import IconExternal from "../../icons/External.astro";
import IconLanguage from "../../icons/Language.astro";
import IconDots from "../../icons/Dots.astro";

import IconGithub from "../../icons/Github.astro";
import IconTwitter from "../../icons/Twitter.astro";
import IconDiscord from "../../icons/Discord.astro";
import IconYoutube from "../../icons/Youtube.astro";

const socialIcons = {
  github: IconGithub,
  twitter: IconTwitter,
  discord: IconDiscord,
  youtube: IconYoutube,
};

type Props = {
  currentPage: string;
};

const { lang, slug } = getPathParamsFromId(Astro.url.pathname);
const languageLinks = createChangeLangLinks({ slug });
const homeLink = lang === "en" ? "/" : `/${lang}`;
---

<header data-pagefind-ignore>
  <SkipToContent />

  <nav>
    <a class="logo" href={homeLink}>
      <EffectorLogo size={40} />
      <span>{SITE.title ?? getTextLocalized(translations.Documentation, lang)}</span>
    </a>
    <div class="mr-auto">
      <Search />
    </div>
    {
      DESKTOP_NAVIGATION.map((navLink) => {
        const external = navLink.link.startsWith("https://") || navLink.link.startsWith("http://");
        const href = external ? navLink.link : createLink(navLink, lang);
        const text = getTextLocalized(navLink, lang);
        const quickMenu = Boolean(navLink.features?.includes("API"));

        if (external) {
          return (
            <a href={href} target="_blank" class="link only-medium">
              <span>{text}</span>
              <IconExternal />
            </a>
          );
        }

        if (quickMenu) {
          return (
            <div class="group relative hidden md:flex">
              <a href={href} class="link">
                {text}
              </a>

              <div class="absolute left-1/2 z-10 mt-6 hidden w-screen max-w-max -translate-x-1/2 -translate-y-2 group-hover:flex">
                <div class="quick-menu mt-4">
                  {Object.entries(QUICK_MENU).map(([name, { link, groups }]) => {
                    const external = link.startsWith("https://") || link.startsWith("http://");
                    const href = external ? link : createLink({ link, text: { en: name } }, lang);

                    return (
                      <div class="quick-group">
                        <h6 class="quick-group-header">
                          <span>{name}</span>
                          <a href={href} class="quick-link">
                            {getTextLocalized(translations.More, lang)}
                          </a>
                        </h6>
                        {groups.map((elements) => (
                          <div class="flex flex-wrap gap-x-1">
                            {elements.map((element) => {
                              const external =
                                element.link.startsWith("https://") ||
                                element.link.startsWith("http://");
                              const href = external ? element.link : createLink(element, lang);
                              const text = getTextLocalized(element, lang);
                              return (
                                <a
                                  href={href}
                                  target={external ? "_blank" : undefined}
                                  class="quick-link"
                                >
                                  <span>{text}</span>
                                  {external ? <IconExternal /> : null}
                                </a>
                              );
                            })}
                          </div>
                        ))}
                      </div>
                    );
                  })}
                </div>
              </div>
            </div>
          );
        }

        return (
          <div class="relative hidden md:flex">
            <a href={href} class="link">
              {text}
            </a>
          </div>
        );
      })
    }
    <div class="only-medium">
      <DropDownMenu links={DOCS_VERSIONS}>v23.x</DropDownMenu>
    </div>
    <div class="only-medium">
      <DropDownMenu links={languageLinks}>
        <IconLanguage />
      </DropDownMenu>
    </div>
    <ThemeToggle client:idle />
    {
      SOCIAL_LINKS.map((link) => {
        const Icon = socialIcons[link.icon];
        return (
          <a href={link.link} class="link only-medium" target="_blank">
            <Icon />
          </a>
        );
      })
    }
    <div class="hidden md:inline-block xl:hidden">
      <DropDownMenu
        links={[
          ...DESKTOP_NAVIGATION.filter(
            (navLink) => navLink.link.startsWith("https://") || navLink.link.startsWith("http://"),
          ),
          {
            text: { en: "Language", ru: "Язык документации" },
            links: languageLinks,
          },
          {
            text: { en: "Other versions", ru: "Другие версии" },
            links: DOCS_VERSIONS,
          },
          {
            text: { en: "Social", ru: "Социальные сети" },
            links: SOCIAL_LINKS,
          },
        ]}
      >
        <IconDots />
      </DropDownMenu>
    </div>
    <div class="md:hidden">
      <MobileMenuButton />
    </div>
  </nav>
</header>
<MobileNavigation />

<style>
  header {
    @apply fixed left-0 right-0 top-0 flex w-full items-center justify-center overflow-visible shadow;

    z-index: 110;
    height: var(--theme-navbar-height);

    -webkit-backdrop-filter: saturate(50%) blur(12px);
    backdrop-filter: saturate(50%) blur(12px);
    background-color: var(--theme-navbar-bg);
    font-family: "Lexend Deca", sans-serif;
  }

  nav {
    @apply mx-auto flex items-center justify-end gap-2;

    padding-left: max(env(safe-area-inset-left), 1.5rem);
    padding-right: max(env(safe-area-inset-right), 1.5rem);
    /* max-width: 84rem; */
    width: 100%;
    max-width: var(--header-max-width, 84rem);
    height: var(--theme-navbar-height);
  }

  .logo {
    @apply flex items-center rounded-3xl hover:opacity-75 focus:no-underline;
    transition: opacity 100ms ease-out;
  }

  .logo span {
    @apply mx-2 select-none text-2xl font-extrabold;
    color: var(--theme-text);
  }

  .quick-menu {
    @apply overflow-hidden rounded-lg border border-gray-50/10 text-sm leading-6 shadow-lg;
    @apply w-screen max-w-md gap-4 px-4 py-3;
    @apply flex flex-col items-stretch;
    /* @apply grid grid-cols-2 grid-rows-2; */
    background-color: var(--theme-card);
  }

  .quick-menu .quick-group {
    @apply flex flex-col items-stretch gap-0;
  }

  .quick-menu .quick-group .quick-group-header {
    @apply flex justify-between pb-1;
  }

  .quick-menu .quick-group:not(:first-child) .quick-group-header {
    @apply border-t pt-4;
    border-color: var(--theme-card-divider);
  }

  .quick-menu .quick-link {
    display: flex;
    padding-block: 0;
    gap: 0;
  }

  .quick-menu .quick-link:hover {
    text-decoration: underline;
  }

  .quick-menu .quick-link:not(:last-child)::after {
    content: ",";
    color: var(--theme-text-light);
  }

  @media (max-width: 512px) {
    .logo span {
      display: none;
    }
  }

  nav {
    @apply flex gap-4 text-base font-normal;
    font-stretch: normal;
    font-optical-sizing: auto;
  }

  nav .link {
    @apply flex items-center justify-center gap-1 text-base font-normal;
    color: var(--theme-text);
  }
  nav .link:hover,
  nav .link:focus,
  nav .link.active {
    color: var(--theme-accent);
  }
  nav .link.active:hover,
  nav .link.active:focus {
    color: var(--theme-text-accent);
  }

  .link.only-medium,
  .only-medium {
    @apply hidden xl:flex;
  }
</style>
