---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";

import CommonLayout from "./CommonLayout.astro";

import PageContent from "../components/PageContent/PageContent.astro";
import LeftSidebar from "../components/LeftSidebar/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar/RightSidebar.astro";
import AvatarList from "../components/PageContent/AvatarList.astro";

import { GITHUB_DOCS_FILE_PREFIX, GITHUB_EDIT_URL } from "../consts";

export type Props = CollectionEntry<"docs">["data"] & {
  headings: MarkdownHeading[];
  translations: { lang: string; slug: string }[];
  breadcrumbs: { title: string; path: string }[];
};

const { headings, translations, breadcrumbs, ...data } = Astro.props;
const currentPage = Astro.url.pathname;
const currentFile = `${GITHUB_DOCS_FILE_PREFIX}${currentPage.replace(/\/$/, "")}.md`;
const githubEditUrl = `${GITHUB_EDIT_URL}/${currentFile}`;
---

<CommonLayout {...data}>
  <style>
    main {
      margin-top: var(--theme-navbar-height);
    }

    .layout {
      display: grid;
      grid-template-columns: minmax(var(--gutter), 1fr) minmax(0, var(--max-width)) minmax(
          var(--gutter),
          1fr
        );
      grid-auto-flow: column;
      overflow-x: hidden;
    }

    #grid-left {
      display: none;
      position: fixed;
      z-index: 10;
      background-color: var(--theme-bg);
      height: 100%;

      position: sticky;
      top: 0;
      padding: 0;
      height: 100vh;
    }

    #grid-main {
      display: flex;
      grid-column: 2;
      flex-direction: column;
      padding: var(--doc-padding) var(--gutter);
      height: 100%;
    }

    #grid-right {
      display: none;
    }

    @media (min-width: 768px) {
      .layout {
        grid-template-columns: 20rem minmax(0, var(--max-width));
        gap: 1em;
        overflow: initial;
      }

      #grid-left {
        display: flex;
        position: sticky;
        grid-column: 1;
        padding-left: 2rem;
      }
    }

    @media (min-width: 1280px) {
      .layout {
        grid-template-columns: 20rem minmax(0, var(--max-width)) 18rem;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
      }

      #grid-right {
        display: flex;
        grid-column: 3;
      }
    }
  </style>
  <style is:global>
    .layout > * {
      width: 100%;
      height: 100%;
    }

    .mobile-sidebar-toggle {
      overflow: hidden;
    }

    .mobile-sidebar-toggle #grid-left {
      display: block;
      top: 2rem;
    }
  </style>

  <main class="layout">
    <aside id="grid-left" title="Site Navigation">
      <LeftSidebar currentPage={currentPage} headings={headings} />
    </aside>
    <div id="grid-main">
      <PageContent
        title={data.title}
        headings={headings}
        githubEditUrl={githubEditUrl}
        translations={translations}
        breadcrumbs={breadcrumbs}
      >
        <slot />
      </PageContent>
      <AvatarList path={currentPage} />
    </div>
    <aside id="grid-right" title="Table of Contents">
      <RightSidebar headings={headings} githubEditUrl={githubEditUrl} />
    </aside>
  </main>
</CommonLayout>
